<h1>Places you have been</h1>
<h3>Add a new place:</h3>
<form action="/places" method="post">
  <label for="new-place">City Name:</label>
  <input id="new-place" name="new-place" type="text">

  <label for="new-image">New picture:</label>
  <input id="new-image" name="new-image" type="text">
  <button type="submit">Submit</button>
</form>
